@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


@import "tailwindcss";

@theme{
  --font-time: 'Orbitron', 'sans-serif' ;
}

@theme{
  --font-effect: 'Sixtyfour', 'sans-serif';
}

